$color-gray: #e7e7e7;
$color-rojo: #b00700;
$color-danger: #d9534f;

#main {
    display: none;
}

.background-danger {
    background-color: $color-danger;
}

.background-gray {
    background-color: $color-gray;
}

.background-rojo {
    background-color: $color-rojo;
}

.text-white {
    color: white;
}

.text-title-primary {
    font-size: 3em;
}

.padding-side {
    padding-left: 10px;
    padding-right: 10px;
}

.sizeButtonMiddle {
    height: 40px;
    width: 120px;
}
